@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hero{
    background-image: url('/hero.svg');
    background-size:cover;
}

.bg-about{
    background-image:url('/service-8.svg');
    background-size:cover;
    background-position:center;
}

.bg-services{
    background-image:url('/services-hero.svg');
    background-size:cover;
}

.bg-contact{
    background-image:url('/contact-hero.png');
    background-size:cover;
}

.bg-rental{
    background-image:url('/main-car.svg');
    background-size:cover;
}